---

BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
UseCRLF: true

...
